@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
/*font-family: 'Kumbh Sans', sans-serif;*/

:root {
    --Dark_cyan: hsl(185, 75%, 39%);
    --Very_dark_desaturated_blue: hsl(229, 23%, 23%);
    --Dark_grayish_blue: hsl(227, 10%, 46%);
    --Dark_gray: hsl(0, 0%, 59%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background: 
        url("images/bg-pattern-top.svg") -300px -400px no-repeat,
        url("images/bg-pattern-bottom.svg") 600px 450px no-repeat,
        var(--Dark_cyan);
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--Dark_grayish_blue);
}

main {
    background-color: #fff;
    border-radius: 1em;
    width: 300px;
    margin-bottom: 20px;
    background: url(images/bg-pattern-card.svg) top no-repeat, #fff;
    background-size:contain;
}

.img-perfil {
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 65px 0 15px 0;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.top > p:last-child {
    margin-top: 8px;
}

.valores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 20px 40px;
    border-top: 2px solid #f1f1f1;
    width: 100%;
    
}

.grosso {
    font-weight: 900;
    color: #39394A;
    font-size: 1.2em;
}

.fino {
    font-weight: 400;
    color: #8C8B8F;
}

.pequeno {
    font-size: .7em;
}

.valores .pequeno {
    margin-top: 6px;
}


.attribution { font-size: 11px; text-align: center; color: #fff; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 1024px) {
    body {
        background: 
        url("images/bg-pattern-top.svg") -500px -400px no-repeat,
        url("images/bg-pattern-bottom.svg") 450px 400px no-repeat,
        var(--Dark_cyan);
    }
}

@media (max-width: 768px) {
    body {
        background: 
        url("images/bg-pattern-top.svg") -550px -500px no-repeat,
        url("images/bg-pattern-bottom.svg") 300px 400px no-repeat,
        var(--Dark_cyan);
    }
}


@media (max-width: 425px) {
    body {
        background: 
        url("images/bg-pattern-top.svg") -800px -400px no-repeat,
        url("images/bg-pattern-bottom.svg") 150px 400px no-repeat,
        var(--Dark_cyan);
    }
}
