@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap');
/*font-family: 'Bai Jamjuree', sans-serif;*/

:root {
    --Strong_Cyan: hsl(171, 66%, 44%);
    --Light_Blue: hsl(233, 100%, 69%);
    --Dark_Grayish_Blue: hsl(210, 10%, 33%);
    --Grayish_Blue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--Grayish_Blue);
}

header, .keep_txtcontent1, section.clipboard_for, section.access_anywhere, .supercharge_txtcontent1, .supercharge_txtcontent2,.supercharge_txtcontent3, .supercharge_txtcontent4{
    text-align: center;
}

header {
    background: url(images/bg-header-desktop.png) no-repeat top;
}

header img {
    margin: 6% 0 4%;
}

header h1 {
    font-size: 2.4rem;
}

header p, section div.keep_txtcontent1 p,section.clipboard_for p, section.access_anywhere p, section.supercharge .supercharge_txtcontent1 p {
    padding: 0 25%;
    font-size: 1.2rem;
}

header h1, header p, section.clipboard_for h2, section.clipboard_for p,section div.keep_txtcontent1 h2, section div.keep_txtcontent1 p, section.access_anywhere h2, section.access_anywhere p, section.supercharge .supercharge_txtcontent1 h2, section.supercharge .supercharge_txtcontent1 p{
    margin-bottom: 1%;
}

section.keep_track {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 60px;
}

section.keep_track .keep_txtcontent1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

section.keep_track img {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 5;
    transform: translateX(-50px);
    transition: 800ms;
}

section.keep_track img:hover {
    transition: 800ms;
    transform: translateX(25px);
}

section.keep_track .keep_txtcontent2, section.keep_track .keep_txtcontent3, section.keep_track .keep_txtcontent4 {
    display: grid;
    align-items: center;
}

section.keep_track .keep_txtcontent2 p, section.keep_track .keep_txtcontent3 p, section.keep_track .keep_txtcontent4 p {
    align-self: flex-start;
    padding-right: 45%;
    font-size: 1.1rem;
}

section.keep_track .keep_txtcontent2 h3, section.keep_track .keep_txtcontent3 h3, section.keep_track .keep_txtcontent4 h3 {

    align-self: flex-end;
    padding-bottom: 2%;
}

section.keep_track .keep_txtcontent2 {
    
}
section.keep_track .keep_txtcontent3 {
    
}
section.keep_track .keep_txtcontent4 {
    
}

section.access_anywhere {
    margin: 10% 0;
}

section.access_anywhere h2, section.supercharge .supercharge_txtcontent1 h2 {
    font-size: 2rem;
    
}

section.access_anywhere img {
    width: 60%;
    margin-top: 4%;
    transition: 800ms;
}

section.access_anywhere img:hover {
    width: 62%;
    transition: 800ms;
}

section.clipboard_for {
    margin: 6% 0;
}

section.supercharge {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: .7fr 1fr;
    margin: 10% 5%;
    row-gap: 8%;
    column-gap: 4%;
}

section.supercharge .supercharge_txtcontent1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

section.supercharge img {
    margin-bottom: 7%;
}

section.supercharge h3 {
    font-size: 1.3rem;
    margin-bottom: 4%;
}

section.supercharge p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

section.brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 4%;
}

footer {
    background-color: rgba(236, 236, 236, 0.4);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 4% 6%;
    column-gap: 4%;
}

footer p {
    font-weight: 600;
}

footer img.logo {
    width: 40%;
}

footer div.socialmedia{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
}

footer div.socialmedia img {
    padding-right: 6%;
}

footer a.logo {
    grid-row-start: 1;
    grid-row-end: 3;
}

footer a {
    padding-bottom: 5%;
}

form button:first-child {
    margin: 2% 1.5% 4% 0;
}

h1, h2, h3 {
    color: var(--Dark_Grayish_Blue);
}

a {
    text-decoration: none;
    color: var(--Grayish_Blue);
}

a:hover {
    color: var(--Strong_Cyan);
}

button {
    border: none;
    border-radius: 1.4rem;
    color: white;
    padding: 10px 35px;
    font-weight: bolder;
    transition: 500ms;
}

button:hover {
    transition: 500ms;
    transform: translateY(-3px);
}

button:active {
    transition: 500ms;
    transform: translateY(6px);
}

.btn_ios {
    background-color: var(--Strong_Cyan);
    box-shadow: 2px 2px 4px var(--Strong_Cyan);
}

.btn_mac {
    background-color: var(--Light_Blue);
    box-shadow: 2px 2px 4px var(--Light_Blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }