@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap');
/*font-family: 'Bai Jamjuree', sans-serif;*/

:root {
    --Strong_Cyan: hsl(171, 66%, 44%);
    --Light_Blue: hsl(233, 100%, 69%);
    --Dark_Grayish_Blue: hsl(210, 10%, 33%);
    --Grayish_Blue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: var(--Grayish_Blue);
}

header, .keep_txtcontent1, section.clipboard_for, section.access_anywhere, .supercharge_txtcontent1, .supercharge_txtcontent2,.supercharge_txtcontent3, .supercharge_txtcontent4{
    text-align: center;
}

header {
    background: url(images/bg-header-desktop.png) no-repeat top;
}

header img {
    margin: 6% 0 4%;
}

header h1 {
    font-size: 2.4rem;
}

header p, section div.keep_txtcontent1 p, section.clipboard_for p, section.access_anywhere p, section.supercharge .supercharge_txtcontent1 p {
    padding: 0 25%;
    font-size: 1.2rem;
}

header h1, header p, section.clipboard_for h2, section.clipboard_for p,section div.keep_txtcontent1 h2, section div.keep_txtcontent1 p, section.access_anywhere h2, section.access_anywhere p, section.supercharge .supercharge_txtcontent1 h2, section.supercharge .supercharge_txtcontent1 p{
    margin-bottom: 1%;
}

section.keep_track {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 60px;
}

section.keep_track .keep_txtcontent1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

section.keep_track img {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 5;
    transform: translateX(-50px);
    transition: 800ms;
    justify-self: center;
    align-self: center;
}

section.keep_track img:hover {
    transition: 800ms;
    transform: translateX(25px);
}

section.keep_track .keep_txtcontent2, section.keep_track .keep_txtcontent3, section.keep_track .keep_txtcontent4 {
    display: grid;
    align-items: center;
}

section.keep_track .keep_txtcontent2 p, section.keep_track .keep_txtcontent3 p, section.keep_track .keep_txtcontent4 p {
    align-self: start;
    padding-right: 45%;
    font-size: 1.1rem;
}

section.keep_track .keep_txtcontent2 h3, section.keep_track .keep_txtcontent3 h3, section.keep_track .keep_txtcontent4 h3 {

    align-self: flex-end;
    padding-bottom: 2%;
}

section.access_anywhere {
    margin: 10% 0;
}

section.access_anywhere h2, section.supercharge .supercharge_txtcontent1 h2, section.clipboard_for h2 {
    font-size: 2rem;
    
}

section.access_anywhere img {
    width: 55vw;
    margin-top: 4%;
    transition: 800ms;
}

section.access_anywhere img:hover {
    transform: scale(1.03);
    transition: 800ms;
}

section.clipboard_for {
    margin: 6% 0;
}

section.supercharge {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: .7fr 1fr;
    margin: 10% 5%;
    row-gap: 8%;
    column-gap: 4%;
}

section.supercharge .supercharge_txtcontent1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

section.supercharge img {
    margin-bottom: 7%;
}

section.supercharge h3 {
    font-size: 1.3rem;
    margin-bottom: 4%;
}

section.supercharge p {
    font-size: 1.1rem;
    line-height: 1.8rem;
}

section.brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 4%;
}

section.brands img {
    transition: 400ms;
}

section.brands img:hover, footer div.socialmedia img:hover{
    transition: 400ms;
    transform: translateY(-10px);
}

footer {
    background-color: rgba(236, 236, 236, 0.4);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    padding: 4% 6%;
    column-gap: 4%;
}

footer p {
    font-weight: 600;
}

footer img.logo {
    width: 4vw;
}

footer div.socialmedia {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
}

footer div.socialmedia img {
    padding-right: 6%;
}

footer a.logo {
    grid-row-start: 1;
    grid-row-end: 3;
}

footer a {
    padding-bottom: 5%;
}

form button:first-child {
    margin: 2% 1.5% 4% 0;
}

h1, h2, h3 {
    color: var(--Dark_Grayish_Blue);
}

a {
    text-decoration: none;
    color: var(--Grayish_Blue);
}

a:hover {
    color: var(--Strong_Cyan);
}

button {
    border: none;
    border-radius: 1.4rem;
    color: white;
    padding: 10px 35px;
    font-weight: bolder;
    transition: 500ms;
}

button:hover {
    transition: 500ms;
    transform: translateY(-3px);
}

button:active {
    transition: 500ms;
    transform: translateY(6px);
}

.btn_ios {
    background-color: var(--Strong_Cyan);
    box-shadow: 2px 2px 4px var(--Strong_Cyan);
}

.btn_mac {
    background-color: var(--Light_Blue);
    box-shadow: 2px 2px 4px var(--Light_Blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 1000px) {

    section.keep_track .keep_txtcontent2 p, section.keep_track .keep_txtcontent3 p, section.keep_track .keep_txtcontent4 p {
        padding-right: 2%;
    }

    section.keep_track {
        column-gap: 5px;
    }

    section.keep_track img {
        width: 65vw; 
        transform: none;
    }

    section.keep_track img:hover {
        transform: none;
    }

    section.keep_track .keep_txtcontent2, section.keep_track .keep_txtcontent3, section.keep_track .keep_txtcontent4 {
        align-self: start;
    }
}

@media (max-width: 768px) {
    
    header p, section div.keep_txtcontent1 p, section.clipboard_for p, section.access_anywhere p, section.supercharge .supercharge_txtcontent1 p {
        padding: 0 15%;
        font-size: 1.2rem;
      }

      section.supercharge {
        grid-template-rows: .5fr 1fr;
        margin: 10% 2%;
        column-gap: 2%
      }

      section.brands {
        margin: 0 2%;
      }

      section.brands img {
        width: 70%;
      }
}

@media (max-width: 480px) {

    header {
        margin-bottom: 150px;
        background: url(images/bg-header-mobile.png) no-repeat top;
        background-size: 100%;
    }

    header h1 {
        font-size: 2rem;
        padding: 0 8%;
    }

    header p, section div.keep_txtcontent1 p, section.clipboard_for p, section.access_anywhere p, section.supercharge .supercharge_txtcontent1 p {
        padding: 0 4%;
    }

    header h1, header p, section.clipboard_for h2, section.clipboard_for p,section div.keep_txtcontent1 h2, section div.keep_txtcontent1 p, section.access_anywhere h2, section.access_anywhere p, section.supercharge .supercharge_txtcontent1 h2, section.supercharge .supercharge_txtcontent1 p{
        margin-bottom: 4%;
    }

    section div.keep_txtcontent1 p {
        margin-bottom: 15%;
    }

    section.keep_track {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 65vh;
        margin-bottom: 150px;
    }

    section.keep_track .keep_txtcontent1 {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    section.keep_track img {
        width: 85vw;
        grid-row-start: auto;
        grid-row-end: auto;
    }

    section.keep_track .keep_txtcontent2, section.keep_track .keep_txtcontent3, section.keep_track .keep_txtcontent4 {
        align-self: center;
        text-align: center;
        margin-top: 30px;
    }

    section.keep_track .keep_txtcontent2 p, section.keep_track .keep_txtcontent3 p, section.keep_track .keep_txtcontent4 p {
        padding: 0 10%;
    }


    section.access_anywhere img {
        width: 80%;
    }

    section.access_anywhere h2, section.supercharge .supercharge_txtcontent1 h2, section.clipboard_for h2{
        font-size: 1.6rem;
        padding: 0 20%;
    }

    section.supercharge {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,1fr);
        margin: 100px 5%;
        row-gap: 6%;
        height: 60vh;
    }

    section.supercharge .supercharge_txtcontent1 {
        grid-column-start: auto;
        grid-column-end: auto;
    }

    section.brands {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        row-gap: 5%;
        height: 45vh;
        margin-bottom: 150px;
    }

    section.brands a {
        text-align: center;
    }

    section.clipboard_for {
        margin-bottom: 150px;
    }

    form {
        display: grid;
        justify-content: center;
        margin-top: 9%;
    }

    form button:first-child {
        margin: 2% 1.5% 8% 0;
    }

    button {
        width: 60vw;
        padding: 15px 35px;
        font-size: 1rem;
    }

    footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, .9fr) 2fr;
        text-align: center;
    }

    footer a.logo {
        grid-row-start: auto;
        grid-row-end: auto;
    }

    footer img.logo {
        width: 8vw;
    }

    footer a {
        padding: 0;
    }

    footer div.socialmedia{
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
        grid-column-end: auto;
        align-self: end;
    }
}

@media (max-width: 320px) {

    section.access_anywhere h2, section.supercharge .supercharge_txtcontent1 h2, section.clipboard_for h2 {
        font-size: 1.6rem;
        padding: 0 5%;
    }

    button {
        width: 70vw;
        padding: 10px 10px;
        font-size: 1rem;
    }
}